table {
  width: 100%;
}

.best-result {
  font-weight: bold;
}

.date-show {
  font-size: 10px;
  color: gray;
}

.result-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-slider {
  width: 100%;
}
