<h1> Comparator </h1>

<div>
  <button (click)="openDialog(0)">C1</button>
  <button (click)="openDialog(1)">C2</button>
</div>

<div id="metricSelector">
  <button (click)="setSelectedMetric('mcc')">MCC</button>
  <button (click)="setSelectedMetric('precision')">Precision</button>
  <button (click)="setSelectedMetric('recall')">Recall</button>
  <button (click)="setSelectedMetric('bac')">BAC</button>
  <button (click)="setSelectedMetric('acc')">ACC</button>
</div>

<div>
  <p>c1: {{cls[0]?.name}} {{cls[0]?.label}} </p>
  <p>c2: {{cls[1]?.name}} {{cls[1]?.label}} </p>
</div>

<ngx-charts-bar-vertical
  *ngIf="displayedColumns"
  [view]="[400, 200]"
  [results]="metricDiff"
  [xAxis]="true"
  [yAxis]="true"
  >
</ngx-charts-bar-vertical>

<ngx-charts-line-chart *ngIf="displayedColumns"
  [view]="[450, 300]"
  [xAxis]="true"
  [yAxis]="true"
  [results]="lineRelation"
  [legend]="true"
>
</ngx-charts-line-chart>

<table mat-table *ngIf="displayedColumns"
       [dataSource]="dataSource"
       class="mat-elevation-z8"
       matSort
       (matSortChange)="sortVal($event)"
>


  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{this.allCl.get(col).name}} </th>
    <td #rdRef cdkOverlayOrigin mat-cell *matCellDef="let element"
        (mouseenter)="openDatabaseInfo(rdRef, element, col)"
        (mouseleave)="closeInfo()"
    >

      <div *ngIf="col == '3'" [class] = 'getValueClass(element[col])'>
        <span *ngIf="getValueClass(element[col]) == 'best'">↑</span>
        <span *ngIf="getValueClass(element[col]) == 'worst'">↓</span>
        {{formatDiff(element[col])}}
      </div>
      <div *ngIf="col != '3'">
        <div *ngIf="element[col].name">
          {{element[col].name | slice: 0 : 20}}
        </div>
        <div *ngIf="!element[col].name">
          {{element[col]}}
        </div>
      </div>



    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
